:root {
  --primary: #4E46B4;
  --primary-80: #5D54CD;
  --primary-120: #372F9D;
  --secondary-80: #FFFFFF;
  --secondary: #F5F5F5;
  --secondary-120: #E4E7E8;
  --danger: #FF1F39;
  --danger-120: #b81629;
  --danger-80: #FF5C6F;
  --border: #EBEBEB;
  --border-secondary: #d4d4d4;
  --bg-primary: #F5F5F5;
  --bg-secondary: #FFFFFF;
  --button-primary-text: #FFFFFF;
  --button-secondary-text: #353854;
  --button-danger-text: #FFEBED;
  --text: #353854;
  --text-secondary: #999CA0;
  --ui-el-height: 35px;
}